@media(max-width:1400px){
    .Contracts, .Payment__wrapper, .MyProject{
        padding-right: 100px !important
    }
}
@media(max-width:1300px){
    .Contracts, .Payment__wrapper, .MyProject{
        padding-right: 50px !important;
    }
}
@media(max-width:1240px){
    .Contracts, .Payment__wrapper, .MyProject{
        padding-right: 0px !important;
    }
}
@media(max-width:1200px){

    
}
@media(max-width:1180px){
    .Contract__card, .Payment__card, .MyProject__card{
        padding: 10px;
        width: 250px;
    }
    .Contract__card button, .Payment__card button{
        width: 100% !important;
    }
}
@media(max-width:1085px){
    .Contract__card, .Payment__card, .MyProject__card{
        padding: 10px;
        width: 220px;
    }
}
@media(max-width:1024px){
    .NavBar label{
        width: 100%;
    }
    .Contract__card, .Payment__card, .MyProject__card{
        padding: 30px;
        width: 260px;
    }
    .Contracts__wrapper, .Payment__wrapper, .MyProject__wrapper{
        grid-template-columns: repeat(2,1fr) !important;
    }
}
@media(max-width:950px){
    .MainLayout{
        padding: 5px !important;
        padding-top: 10px !important;
        gap: 10px !important;
    }
}
@media(max-width:860px){
   
}
@media(max-width:768px){
    .Sidbar{
        display: none !important;
    }
    .NavBar form{
        display: none;
    }
    .NavbarBtn{
        display: none;
    }
    .burger{
        display: block !important;
    }
    .Contract__card, .Payment__card, .MyProject__card{
        margin: 0 auto;
        width: 300px;
    }
}
@media(max-width:700px){
   
  
}
@media(max-width:640px){
   .Contract__card, .Payment__card, .MyProject__card{
    width: 250px;
   }
}
@media(max-width:590px){
   
}
@media(max-width:540px){
    .Contract__card, .Payment__card, .MyProject__card{
        padding: 10px;
        width: 220px;
       }
    .Contracts__wrapper, .Payment__wrapper, .MyProject__wrapper{
        gap: 10px !important;
    }
    .Payment__title{
        flex-direction: column;
        gap: 10px;
    }
}
@media(max-width:450px){
    .Contract__card, .Payment__card, .MyProject__card{
        padding: 5px;
        width: 200px !important;
    }
}
@media(max-width:420px){
    .Contracts__wrapper, .Payment__wrapper, .MyProject__wrapper{
        grid-template-columns: repeat(1,1fr) !important;
    }
    .Contract__card, .Payment__card, .MyProject__card{
        padding: 20px;
        width: 80% !important;
    }
    .Contracts h1{
        font-size: 35px;
    }
}
@media(max-width:320px){
    .Contract__card, .Payment__card, .MyProject__card{
        padding: 10px;
        width: 95% !important;
    }
    .Contracts h1{
        font-size: 30px;
    }
}
@media(max-width:350px){
   .Payment__title div{
    flex-direction: column;
    gap: 10px;
}
.PaymentModal{
    padding: 10px;
}
.PaymentModal div{
    padding: 5px;
}
.PaymentModal h2{
    font-size: 18px;
}
.PaymentModal span{
    font-size: 12px !important;
}
}
@media(max-width:325px){
   
}
@media(max-width:300px){
    
}