@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="number"] {
    -moz-appearance: textfield; 
    -webkit-appearance: none; 
    appearance: none; 
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input {-webkit-appearance: none; box-shadow: none !important; }
:-webkit-autofill { color: #fff !important; }

::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-track{
    background: white;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
}

::-webkit-scrollbar-thumb{
    background:#1F1E30;
    border-radius: 15px;

}
.activeSaidbar{
    background-color: #D8F275 !important;
    color: black;
}
body{
    background-color: #F7F7F5 !important;
    /* background-color: black; */
}

.NavBarModal{
    transform: translateY(-160%);
	transition: all 1.2s ease;
    z-index: 11;
}
.NavBarActive{
    transform: translateY(0);
}
.PaymentModal{
    transform: translateY(-160%);
	transition: all 1.2s ease;
    z-index: 11;
}
.PaymentModalActive{
    transform: translateY(0);
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
}
.modal-foto {
    width: 100%;
}

.file-input-container {
    width: 100%;
}
.file-input-container {
    position: relative;
    overflow: hidden;
    display: inline-block;
    padding: 10px;
    border: 1px solid #D8F275;
    border-radius: 16px;
    background-color: #D8F275;
    cursor: pointer;
    color: black;
    transition: 0.5s;
    width: 100%;
}

.file-input-container input[type=file] {
    cursor: pointer;
    position: absolute;
    font-size: 100px;
    opacity: 0;
    right: 0;
    top: 0;
    cursor: pointer;
}

.file-input-container span {
    display: block;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
}

.file-input-container:hover {
    background-color: transparent;
    color: white;
    cursor: pointer;
}
.DeleteModal{
    transform: translateY(-160%);
	transition: all 1.2s ease;
    z-index: 11;
}
.DeleteModalActive{
    transform: translateY(0);
}
